.accessible {
    text-indent: -9999px
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
    position: relative;
    background-color: #F3F3F3;
}

#footer {
    height: 0px;
    background-color: #111111;
}

#footer-content {
    height: 0px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    text-align: center;
    background-color: #111111;
}

.push {
    height: 50px;
    clear: both;
}

#header {
    height: 40px;
}

#header-content {
    height: 40px;
}

#content {
    height: 100%;
}

#sidebar {
    background-color: #222222;
    border-right: solid #111111 2px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 45px;
    bottom: 0px;
}

#sidebar-right {
    background-color: #EEEEEE;
    border-left: solid #111111 2px;
    width: 400px;
    position: absolute;
    right: 0;
    top: 45px;
    bottom: 0px;
    padding-top: 20px;
}

#main {
    margin-left: 142px;
    margin-right: 420px;
    margin-top: 10px;
}

/* PAULS EDIT */

.question {
    position: absolute;
    display: inline;
    text-align: center;
    width: 174px;
    height: 78px;
    font-size: 13px;
    line-height: 1.5em;
    background: url('../img/bubble.png') left top no-repeat;
    padding: 10px 0 0 0;
    text-shadow: 0px 1px 0px #fff;
    margin-left: -7em;
    margin-top: -6em;
    opacity: 0;
}

.yes, .cancel {
    margin-top: .5em;
    margin-right: .5em;
    cursor: pointer;
    display: inline-block;
    width: 63px;
    height: 21px;
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    background: url('../img/button.png') left top no-repeat;
}

.alreadyMember {
    background-color: #F1C8C8 !important;
}

.notMember {
    background-color: #E1FFE1 !important;
}

.side-nav {
    text-align: center;
}

.side-nav a {
    color: #EEEEEE !important;
}

.credits {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 80px;
    padding-bottom: 30px;
}

.searchform {
    background: -moz-linear-gradient(center top, #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
    border: 1px solid #D2D2D2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 3px 5px;
}

.searchform input {
    font: 12px/100% Arial, Helvetica, sans-serif;
}

.searchform .searchfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    outline: medium none;
    padding: 6px 6px 6px 8px;
    width: 322px;
    display: inline;
    margin: 0;
}

.searchform .searchbutton {
    background: -moz-linear-gradient(center top, #9E9E9E, #454545) repeat scroll 0 0 transparent;
    border: 1px solid #494949;
    color: #FFFFFF;
    font-size: 11px;
    height: 27px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    width: 27px;
}

.newsfeed-panel {
    background-color: #f5f5f5 !important;
}
